<div class="site-top">
	<div class="sites-data-container">
		<a href="{{ site.url }}">
			{%- indieavatar site.url, "avatar-large" %}
			{%- if site.name -%}
				{{ site.name }}
			{%- else -%}
				{{ site.url | displayUrl }}
			{%- endif -%}
		</a>
		{%- if site.description %}<em class="list-bare-desc list-bare-desc-avatar">{{ site.description }}</em>{% endif -%}
		{%- if showMetadata %}
		<em class="list-bare-desc list-bare-desc-avatar">
			<div class="fl fl-inline fl-nowrap fl-separator-h" style="--fl-gap-h: 1.5rem; --fl-gap-v: 2px">
				{%- if site.source_url %}<div><a href="{{ site.source_url }}" class="elv-externalexempt">Source Code</a></div>{% endif -%}
			</div>
		</em>
		{%- if site.demo and showSpeedlifyScores -%}
		<div class="list-bare-desc list-bare-desc-avatar site-score">
			<is-land on:visible import="/js/speedlify2-score.js"><speedlify2-score speedlify-url="https://www.speedlify.dev/" url="{{ site.demo }}"></speedlify2-score></is-land>
		</div>
		{%- endif -%}
		{%- endif %}
	</div>
	<div class="sites-screenshot-container">
		{% getScreenshotHtml "", site.url %}
		<div class="sites-screenshot-container-icons">{% hostavatar site.url %} {% generatoravatar site.url %}</div>
	</div>
</div>