/* Business Network */
.business-network-primary.business-network-primary {
	--fl-stackpoint: 37.5em; /* 600px /16 */
	--fl-gap-v: 1em;
}
.business-network {
	list-style: none;
	padding-left: 0;
}
.business-network > li:not(:last-child) {
	margin-bottom: 3em;
	padding-bottom: 3em;
	border-bottom: 1px solid #666;
}
.business-network-link {
	display: block;
	width: fit-content;
}
.business-network-sites {
	display: block;
	padding-top: 1em;
	max-width: 16.666666666667em; /* 300px /18 */
}
.business-network-name {
	display: block;
	font-size: 1.25em;
	font-weight: 700;
}
.business-network-available {
	padding-left: 3.230769230769em; /* 42px /13 */
	font-size: 0.7222222222222em; /* 13px /18 */
}
.business-network-hire {
	text-align: center;
}
.business-network-hire a[href] {
	padding: 0.5rem 2em 0.4rem;
}
